@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?kjwc7p');
  src:  url('fonts/icomoon.eot?kjwc7p#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?kjwc7p') format('truetype'),
    url('fonts/icomoon.woff?kjwc7p') format('woff'),
    url('fonts/icomoon.svg?kjwc7p#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angi-color:before {
  content: "\e93a";
  color: #ec6059;
}
.icon-bbb-color .path1:before {
  content: "\e93b";
  color: rgb(3, 94, 136);
}
.icon-bbb-color .path2:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-bbb-color .path3:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-bbb-color .path4:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-google-color .path1:before {
  content: "\e93f";
  color: rgb(72, 113, 183);
}
.icon-google-color .path2:before {
  content: "\e940";
  margin-left: -1.0009765625em;
  color: rgb(251, 189, 4);
}
.icon-google-color .path3:before {
  content: "\e941";
  margin-left: -1.0009765625em;
  color: rgb(50, 171, 84);
}
.icon-google-color .path4:before {
  content: "\e942";
  margin-left: -1.0009765625em;
  color: rgb(232, 66, 52);
}
.icon-google-color .path5:before {
  content: "\e943";
  margin-left: -1.0009765625em;
  color: rgb(208, 47, 73);
}
.icon-google-color .path6:before {
  content: "\e944";
  margin-left: -1.0009765625em;
  color: rgb(13, 158, 88);
}
.icon-homeadvisor-color .path1:before {
  content: "\e945";
  color: rgb(94, 112, 122);
}
.icon-homeadvisor-color .path2:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(243, 143, 34);
}
.icon-thumbtack-color .path1:before {
  content: "\e947";
  color: rgb(0, 158, 217);
}
.icon-thumbtack-color .path2:before {
  content: "\e948";
  margin-left: -1.0068359375em;
  color: rgb(255, 255, 255);
}
.icon-thumbtack-color .path3:before {
  content: "\e949";
  margin-left: -1.0068359375em;
  color: rgb(255, 255, 255);
}
.icon-yelp-color:before {
  content: "\e94a";
  color: #e62a28;
}
.icon-chat:before {
  content: "\e900";
}
.icon-brush:before {
  content: "\e901";
}
.icon-building:before {
  content: "\e902";
}
.icon-carpet-cleaning:before {
  content: "\e903";
}
.icon-concrete:before {
  content: "\e904";
}
.icon-door:before {
  content: "\e905";
}
.icon-gutter:before {
  content: "\e906";
}
.icon-hand-cleaning:before {
  content: "\e907";
}
.icon-landscaping:before {
  content: "\e908";
}
.icon-lawn-moving:before {
  content: "\e909";
}
.icon-metal-roof:before {
  content: "\e90a";
}
.icon-mulching:before {
  content: "\e90b";
}
.icon-person-construction:before {
  content: "\e90c";
}
.icon-rain-gutter:before {
  content: "\e90d";
}
.icon-roller:before {
  content: "\e90e";
}
.icon-shingle-roof:before {
  content: "\e90f";
}
.icon-slab-concrete:before {
  content: "\e910";
}
.icon-stump-grinding:before {
  content: "\e911";
}
.icon-tree-leaf:before {
  content: "\e912";
}
.icon-tree-pine:before {
  content: "\e913";
}
.icon-tree-service:before {
  content: "\e914";
}
.icon-trimming:before {
  content: "\e915";
}
.icon-ac:before {
  content: "\e916";
}
.icon-arrow-down:before {
  content: "\e917";
}
.icon-arrow-left:before {
  content: "\e918";
}
.icon-arrow-right:before {
  content: "\e919";
}
.icon-arrow-up:before {
  content: "\e91a";
}
.icon-arrow-up-right:before {
  content: "\e91b";
}
.icon-bars:before {
  content: "\e91c";
}
.icon-calendar:before {
  content: "\e91d";
}
.icon-carpentry:before {
  content: "\e91e";
}
.icon-chain-link-fence:before {
  content: "\e91f";
}
.icon-chevron-down:before {
  content: "\e920";
}
.icon-chevron-left:before {
  content: "\e921";
}
.icon-chevron-right:before {
  content: "\e922";
}
.icon-chevron-up:before {
  content: "\e923";
}
.icon-circle-doted:before {
  content: "\e924";
}
.icon-clock:before {
  content: "\e925";
}
.icon-electric:before {
  content: "\e926";
}
.icon-envelope:before {
  content: "\e927";
}
.icon-facebook:before {
  content: "\e928";
}
.icon-floor:before {
  content: "\e929";
}
.icon-framing:before {
  content: "\e92a";
}
.icon-glass:before {
  content: "\e92b";
}
.icon-instagram:before {
  content: "\e92c";
}
.icon-insulation:before {
  content: "\e92d";
}
.icon-map:before {
  content: "\e92e";
}
.icon-mastodon:before {
  content: "\e92f";
}
.icon-phone:before {
  content: "\e930";
}
.icon-pickup:before {
  content: "\e931";
}
.icon-pinterest:before {
  content: "\e932";
}
.icon-plumbing:before {
  content: "\e933";
}
.icon-stone:before {
  content: "\e934";
}
.icon-tiktok:before {
  content: "\e935";
}
.icon-welding:before {
  content: "\e936";
}
.icon-wood-fence:before {
  content: "\e937";
}
.icon-x-twitter:before {
  content: "\e938";
}
.icon-youtube:before {
  content: "\e939";
}
